* {
    list-style: none;
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: blue;
    transition-delay: 3s;
    transition: ease 1s;
    scale: 20px;
}

.nav-bar {
    max-width: 125px;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    margin: auto;
    padding: 1em;
}

.menu li {
    padding: 3px;
}

.container {
    max-width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 1.5rem;
    margin-top: 20px;
}

@media (min-width: 701px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        max-width: 1342px;
        min-height: 715px;
        margin: auto;
        background-color: #f0f0f0;
    }
    .wrapper .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
        position: absolute;
    }
}

@media (max-width: 700px) {
    .wrapper {
        background-color: #f0f0f0;
    }
    .wrapper .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        max-width: 350px;
        border: none;
    }
    li {
        display: inline;
        margin: auto;
        font-size: 24px;
    }
}